:root {
    --color-white: #FFF;
    --color-light-gray: #F2F2F2;
    --color-brown: #735340;
    --color-light-brown: #BFA89B;
    --color-tan: #D9CCC5;
    --color-yellow:#DB9C4D;
}

.text-light {
    color:#FFF;
}
.text-brown {
    color:var(--color-brown);
}
.text-light-brown {
    color:var(--color-light-brown);
}
.text-tan {
    color:var(--color-tan);
}
.text-yellow {
    color:var(--color-yellow);
}
.text-black {
    color:#000000;
}


.container {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 40px;
    width:220px;
}

.color-block {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom:20px;
}

.color-info-table {
    width:100%;
}



.color-light-gray {
    background-color:var(--color-light-gray);
}

.color-brown {
    background-color:var(--color-brown);
}

.color-light-brown {
    background-color:var(--color-light-brown);
}

.color-tan {
    background-color:var(--color-tan);
}

.color-yellow {
    background-color:var(--color-yellow);
}

.color-black {
    background-color:#000000;
}

.color-white {
    background-color:white;
}


body, html {
    color:#303030;
    font-family: "Poppins", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
}

h1.big {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 4.75em;
    line-height: 4.5em;
    font-style: normal;
    color: black;
}

h1 {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 3.125em;
    line-height: 1.25em;
    font-style: normal;
    color: black;
}

h2 {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 2.375em;
    line-height: 1.25em;
    color: black;
}

h3 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1.375em;
    line-height: 1.5em;
    font-style: normal;
    color: black;
}

h4 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 1.625em;
    font-style: normal;
    color: black;
}

h5 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1.125em;
    line-height: 1.5em;
    font-style: normal;
    color: black;
}

h6 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.25em;
    font-style: normal;
    color: black;
}

p {
    color:black;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    line-height: 1.625em;
    font-weight: 400;
    font-style: normal;
}

small {
    color:black;
    font-family: "Poppins", sans-serif;
    font-size: .875em;
    line-height: 1.375em;
    font-weight: 400;
    font-style: normal;
}

a {
    color: var(--color-boho);
    text-decoration-style: solid;
    text-underline-offset: .3em;
    transition: color .2s, text-shadow ease .5s;
}
a:hover {
    color: var(--color-yellow);
}

a:focus {
    outline: 2px dashed var(--color-yellow);
    outline-offset: 1px;
}

.text-light a {
    color:var(--color-white);
    text-decoration-style: underline;
    text-underline-offset: .3em;
    transition: color .2s;
}

.text-light a:hover {
    color: #FFF;
}

button {
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding:12px 32px;
    color: white;
    background-color: var(--color-yellow);
    appearance: none;
    border: none;
    border-radius: 50px;
    margin-right: 10px;
    transition: background-color .2s, color .2s, box-shadow .3s;
    box-shadow: var(--color-boho-l20) 0px 0px 20px;
    border: 2px solid transparent;
}

button:hover {
    cursor: pointer;
    background-color: var(--color-light-brown );
    box-shadow: var(--color-boho-l20) 0px 0px 20px;}

button:disabled {
    cursor: not-allowed;
    opacity:50%;
}

button:focus {
    outline: 2px dashed var(--color-yellow);
    outline-offset: -2px;
}

button:active {
    background-color:var(--color-yellow);
}



.button-white {
    color: var(--color-brown);
    background-color: #FFFFFF;
}

.button-white:hover {
    background-color: white;
}

.button-white:focus {
    background-color: white;
}

.button-white:active {
    background-color: white;
}


.button-outline-white {
    border: 2px solid #FFFFFF;
    background: transparent;
    color: #FFFFFF;
    box-shadow: none;
}

.button-outline-white:hover {
    background-color: white;
    color:var(--color-boho);
}

.button-outline-white:focus {
    background-color: white;
    color:var(--color-boho);
}

.button-outline-white:active {
    background-color: white;
    color:var(--color-boho);
}


.button-outline-yellow {
    border: 2px solid var(--color-yellow);
    background: transparent;
    color: var(--color-yellow);
    box-shadow: none;
}

.button-outline-yellow:hover {
    background-color: var(--color-yellow);
    color:white;
}


.btn-container {
    display: inline-block;
    padding: 20px;
    width: auto;
}



/*Courtney's styles*/

*::before,
*::after {
  box-sizing: border-box;
} 

h2 {
    text-align: center;
}


body {
    margin: 0;
}

.main-section {
    margin-bottom: 4rem;
}

nav {
    position: relative;
    background-color: var(--color-tan);
    text-align: center;
    -webkit-box-shadow: 0px 11px 13px -4px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 11px 13px -4px rgba(0,0,0,0.17);
    box-shadow: 0px 11px 13px -4px rgba(0,0,0,0.17);
}

nav .boho-logo {
    width: 250px;
    text-align: center;
}
 
/* Hero */ 

.hero {
    background: linear-gradient(0deg, rgba(161, 149, 42, 0.3), rgba(170, 101, 44, 0.3)), url("assets/Furniture-hero-1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% bottom;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hero__tagline {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .hero {
        height: 30vh;
    }

    .hero__tagline {
        font-size: 3.2rem;
    }
    
}

@media screen and (min-width: 1200px) {
    .hero {
        height: 40vh;
    }

    .hero__tagline {
        font-size: 3.6rem;
    
    } 
}


@media screen and (min-width: 1800px) {
    .hero {
        height: 50vh;
    }

    .hero__tagline {
        font-size: 5rem;
    
    } 
}

/* Countdown feature */ 

.countdown-outer {
    background-color: var(--color-yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.3rem;
    -webkit-box-shadow: 0px 11px 13px -4px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 11px 13px -4px rgba(0,0,0,0.17);
    box-shadow: 0px 11px 13px -4px rgba(0,0,0,0.17);
}

.countdown__title { 
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: .6rem;
}

.countdown__title2 {
    font-size: 1.4rem;
    margin: .5rem;
}

.countdown__ticker {
    display: flex;
    column-gap: 1rem;
}

.countdown__ticker > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.countdown__days, .countdown__hours {
    font-size: 1.3rem;
    margin-bottom: 0;
    font-weight: 600;
    background: black;
    padding: 10px 20px;
    color: white;
    border-radius: 8px;
}

.countdown__label {
    margin: .4rem;
}

@media screen and (min-width: 768px) {
    .countdown-outer {
        padding: 1.5rem;
        margin-bottom: 5rem;
    }

    .countdown__title {
        font-size: 1.9rem;
        margin-bottom: 1rem;
    }

    .countdown__days, .countdown__hours {
        font-size:2rem;
    }

    .countdown__label {
        font-size: 1.6rem;
    }
    
    
}

@media screen and (min-width: 1200px) {
    .countdown__title {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1800px) {
    .countdown-outer{
        padding: 1.7rem;
    }
    .countdown__title {
        font-size: 2.3rem;
    }

    .countdown__title2, .countdown__label {
        font-size: 1.7rem;
    }

    .countdown__days, .countdown__hours {
        font-size: 2.5rem;
        
    }
}

/* Carousel Feature */

.carousel-outer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap:15px;
    margin-bottom: 2rem;
}

.carousel {
    width: 100%;
    display:flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    align-items: stretch;
    scroll-snap-type: x mandatory;
}

.carousel__btn {
    margin: 10px;
    padding: 10px 12px 8px;
}

.slide {
    flex-basis: 100%; 
    flex-shrink: 0;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    scroll-snap-align: start;
    padding-bottom: 20px;   
}

/* Subtle shake animation  */
@keyframes shake {
    from {transform: rotate(0deg);}
    25% {transform: rotate(2deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-2deg);}
    100% {transform: rotate(0deg);}
} 

.slide img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    vertical-align: bottom; /* remove white space at bottom of img */
}

.slide:hover {
    animation: shake .3s;
}

.slide__text-content {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: stretch;
    justify-content: space-between;
}

.slide__title {
    margin: 0 0 .8rem;
    font-size: 1.7rem;
}

.slide__text {
    font-size: 1rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px F2F2F2; 
    border-radius: 0px;
    margin-block: 15px;
 }

.original-price, .sale-price {
    font-size: 1.2rem;
}

.sale-price {
    font-weight: 600;
    margin-left: .8rem;
    background-color: var(--color-yellow);
    padding: 4px;
    border-radius: 10px;
}

.slide__link {
    margin-top: auto;
}

.slide__link:hover {
    position: relative;
}

@media screen and (min-width: 768px) {
    .slide {
        flex: 0 0 50%; /* Two slides showing */
        padding-inline: 10px;
    }

    .original-price, .sale-price {
        font-size: 1.4rem;
    }

    .slide__text {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1200px) {

    .carousel {
        width: 70%;
    }
}


@media screen and (min-width: 1440px) {
    .slide {
        flex: 0 0 33.33%; /* Three slides showing */
    }
}

/* Newsletter */ 
.newsletter-feature {
    width: 80%;
    max-width: 600px;
    margin-inline: auto;
    background-color: var(--color-brown);
    padding: 0 20px 50px;
    text-align: center;
    border-radius: 10px;
    border-top: 5px solid var(--color-yellow);
    -webkit-box-shadow: 0px 11px 13px -4px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 11px 13px -4px rgba(0,0,0,0.17);
    box-shadow: 0px 11px 13px -4px rgba(0,0,0,0.17);
    
}    

.newsletter-feature > h2, .newsletter-feature > p {
    color: white;
}

.newsletter-feature > p {
    margin-bottom: 25px;
}

.input-row {
    display: flex; 
    justify-content: center;
}

.newsletter-form input[type="email"] {
    font-size: 1rem;
    padding: 12px 20px;
    border-radius: 50px;
    width: 40%;
}

.newsletter-feature button {
    flex-shrink: 0;
    margin: 0 10px;
}

/* Footer */
footer {
    background-color: var(--color-tan);
    padding: 8px;
    text-align: center;
    margin-top: 1rem;
}

@media screen and (min-width: 1440px) {
    footer {
        margin-top: 4rem;
    }
}